html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
  --textColorThree: #fff;
}

.dark {
  --backgroundLayerOne: #16171b;
  --backgroundLayerTwo: #3a3b41;
  --backgroundLayerThree: #505050;
  --backgroundLayerFour: #000;
  --backgroundLayerFive: #b0b5c7;
  --textColorOne: #b5b4a1;
  --textColorTwo: #f4f4f4;
  --gradientOne: rgb(1, 194, 194);
  --gradientTwo: rgb(97, 17, 97);
  --underline: lime;
}

.light {
  --backgroundLayerOne: #e2e2e2;
  --backgroundLayerTwo: #CDCDCD;
  --backgroundLayerThree: #ebe2e2;
  --backgroundLayerFour: #999999;
  --backgroundLayerFive: rgb(64, 65, 70);
  --textColorOne: #414141;
  --textColorTwo: #5e5d61;
  --gradientOne: rgb(96, 69, 114);
  --gradientTwo: rgb(9, 211, 211);
  --underline: rgb(0, 158, 0);
}

body {
  background: var(--backgroundLayerOne);
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: var(--textColorOne);
}

h1, h2 {
  padding-top: 0;
  margin-top: 0;
  font-size: 2.5rem;
  color: var(--textColorTwo);
  border-bottom: 3px solid var(--underline);
  margin-bottom: 15px;
}

section {
  background: repeating-linear-gradient(45deg, var(--gradientOne) 2%, var(--gradientOne) 20%,transparent 50%, var(--gradientTwo) 80%, var(--gradientTwo) 98%);
  box-shadow: 0 0 1000px var(--backgroundLayerFive);
  min-height: 100vh;
  position: relative;
}

section.container {
  margin: 0 auto;
  padding: 1rem 5rem;
}

@media only screen and (min-width: 1200px) {
  section.container {
    padding: 5rem 15rem;
  }
}

@media only screen and (min-width: 1500px) {
  section.container {
    padding: 5rem 25rem;
  }
}

nav.navbar {
  max-width: 900px;
  margin: 0 auto;
  background: var(--backgroundLayerThree);
  opacity: 0.5;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  min-height: 40px;
  width: 40px;
  color: var(--textColorTwo);
}

.container {
  margin: 1rem auto;
}

.jumbotron {
  padding-top: 1rem;
}

.main {
  padding: 15px;
  padding-top: 40px;
}

.grid-img {
  grid-area: mg;
}

.grid-h3 {
  grid-area: hh;
}

.grid-p {
  grid-area: pp;
}

#cat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "mg mg hh hh"
    "mg mg pp pp"
    ".  .  pp pp";
}

.card {
  background: var(--backgroundLayerTwo);
  margin-top: 2rem;
  padding-top: 40px!important; /* for anchor links in navbar to now cover content */
}

footer {
  background: linear-gradient(to right, purple 5%, cyan 20%, purple 50%, purple 80%, cyan 100%);
  padding: 13px;
  margin-top: 20rem;
  color: var(--textColorThree);
}