html {
  box-sizing: border-box;
  font-size: 10px;
  --main-bg: purple;
  margin: 0;
  padding: 0;
}

.dark {
  --backgroundLayerOne: #16171b;
  --backgroundLayerTwo: #2b2c30;
  --backgroundLayerThree: #505050;
  --backgroundLayerFour: #000;
  --backgroundLayerFive: #2c2d31;
  --textColorOne: #b5b4a1;
  --textColorTwo: #f4f4f4;
}

.light {
  --backgroundLayerOne: #BCBCBC;
  --backgroundLayerTwo: rgba(0,0,0,0.25);
  --backgroundLayerThree: #E1E1E1;
  --backgroundLayerFour: #999999;
  --backgroundLayerFive: rgba(0,0,0,0.125);
  --textColorOne: #414141;
  --textColorTwo: #262626;
}

body {
  background: var(--backgroundLayerOne);
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: var(--textColorOne);
}

h1 {
  padding-top: 0;
  margin-top: 0;
  font-size: 2.5rem;
  color: maroon;
}

section {
  background: repeating-linear-gradient(11deg, cyan, purple);
  min-height: 100vh;
  position: relative;
}

section.container {
  margin: 0 auto;
  padding: 1rem;
}

.container {
  margin: 1rem auto;
}

.jumbotron {
  padding-top: 1rem;
}

.main {
  padding: 15px;
  padding-top: 40px;
}

.inner {
  background: rgba(255,255,255,0.125);
  border-radius: 20px;
  padding: 2rem;
  /* margin: 1rem 0 1rem 0; */
  text-shadow: 1px 1px black;
}

.grid-img {
  grid-area: mg;
}

.grid-h3 {
  grid-area: hh;
}

.grid-p {
  grid-area: pp;
}

#cat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "mg mg hh hh"
    "mg mg pp pp"
    ".  .  pp pp";
}

.card {
  background: var(--backgroundLayerThree);
  margin-top: 2rem;
}

footer {
  background: linear-gradient(to right, purple 5%, cyan 20%, purple 50%, purple 80%, cyan 100%);
  padding: 13px;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}